{% extends "main/header.html"%}
{% load static from staticfiles %}

{% block content %}
<div class="card" style="padding-top: 0px>
    <div class="card-content">
    	<img src="{% static 'Images/Resume.png'%}" alt="" width="1063" height="1375">
    	<!--
        <div style="width:relative;height:20px; background-color: #116E7F"></div>
        <div style="width:relative;height:180px; background-color: #D5DDDE">   
            <div class="card-content" style = "font-size: 14; padding-top: 10px">
                <p style= "text-align:left; font-size:40; padding-top: 0px; color: #116E7F"><strong>&emsp; Software Engineering</strong></p>
                <p style="text-align:right; font-size:16;"><strong>Email:</strong> michael.j.larson@wsu.edu&emsp;&emsp;&emsp;<br/>
                    <strong>Phone:</strong> (509)715-7431&emsp;&emsp;&emsp; <br/>
                    <a href = "https://www.linkedin.com/in/larson2"><strong>https://www.linkedin.com/in/larson2&emsp;&emsp;&emsp;<br/></strong></a>
                    <a href = "https://github.com/larsomic"><strong>https://github.com/larsomic&emsp;&emsp;&emsp;</strong></a>
                </p>

                <p style="text-align::left; font-size: 28"> <br/><strong>&emsp;&emsp;<u>Objective:</u><br></strong>
                    <p style="font-size: 10"> <br>
                    <p style="font-size: 17">
                    &emsp;&emsp;&emsp; Adaptive Software Engineering major currently attending Washington State University. Aiming to leverage proven teamwork,<br>&emsp;&emsp;&emsp; problem solving, and creative thinking skills to successfully fill the Software Engineering intern role at your company.<br>&emsp;&emsp;&emsp; Frequently praised as hard-working by my peers, and supervisors. I can be relied upon to help your company achieve its goals.<br>
                    <p style="font-size: 28"><br>

                    <strong>&emsp;&emsp;<u>Education:</u></strong>
                    <p style="font-size: 6"> <br>
                    <br><p style="font-size: 17; text-align:left">&emsp;&emsp;&emsp; 2018- 2022 (Expected)&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp; &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <a href = "https://wsu.edu/"><i><strong>Washington State University</i></strong></a><p style="text-align:right; font-size: 17">&nbsp;B.S. in Software Engineering&emsp;&emsp;&emsp;&emsp;<br>&nbsp;3.67 Major GPA&emsp;&emsp;&emsp;&emsp;<br>&nbsp;President's Honor Roll&emsp;&emsp;&emsp;&emsp;</p>
                  
                    <p style="font-size: 28"><br>
                    &nbsp;<strong>&emsp;&emsp;<u>Skills:</u></strong>
                    </p>
                    <p style="font-size: 10"> <br></p>
                    <p style="font-size: 17">
                    <div class="row">
                        <div class="col s2 offset-s1" style="background-color: #D5DDDE;border-radius: 25:px"><p style="text-align: center; height:48px;padding-top: 8;font-size: 20px">C++ Language</p></div>
                        <div class="col s0" style="background-color: #ffffff"></div>

                        <div class="col s2" style="background-color: #D5DDDE;border-radius: 25:px"><p style="text-align: center; height:48px;padding-top: 8;font-size: 20px">C Language</p></div>
                        <div class="col s0" style="background-color: #ffffff"></div>

                        <div class="col s2" style="background-color: #D5DDDE;border-radius: 25:px"><p style="text-align: center; height:48px;padding-top: 8;font-size: 20px">Python</p></div>
                        <div class="col s0" style="background-color: #ffffff"></div>


                        <div class="col s3" style="background-color: #D5DDDE;border-radius: 25:px"><p style="text-align: center; height:48px;padding-top: 8;font-size: 20px">Django Development</p></div>
                        <div class="col s0" style="background-color: #ffffff"></div>
                    </div>
                    
                    <div class="row">
                        <div class="col s3 offset-s1" style="background-color: #D5DDDE;border-radius: 25:px"><p style="text-align: center; height:48px;padding-top: 8;font-size: 20px">Linux Mint O.S.</p></div>
                        <div class="col s0" style="background-color: #ffffff"></div>

                        <div class="col s2" style="background-color: #D5DDDE;border-radius: 25:px"><p style="text-align: center; height:48px;padding-top: 8;font-size: 20px">HTML</p></div>
                        <div class="col s0" style="background-color: #ffffff"></div>

                        <div class="col s2" style="background-color: #D5DDDE;border-radius: 25:px"><p style="text-align: center; height:48px;padding-top: 8;font-size: 20px">Microsoft</p></div>
                        <div class="col s0" style="background-color: #ffffff"></div>
                    </div>
                      <p style="font-size: 28">
                    &nbsp;<strong>&emsp;&emsp;<u>Avtivities:</u></strong>
                    <p style="font-size: 10"> <br>
                    <p style="font-size: 17">
                    &emsp;&emsp;&emsp;&emsp;- Teaching assistant for <a href = "https://eecs.wsu.edu/~aofallon/cpts121/syllabus.htm">Cpt_S 121</a><br>&emsp;&emsp;&emsp;&emsp;- <a href = "https://hackathon.eecs.wsu.edu/">2020 Crimson Code</a>
                    <br>&emsp;&emsp;&emsp;&emsp;- Member of Software Engineering Club at WSU
                </p>
                <div style="width:100;height:15px; background-color: #116E7F"></div>
            </div>
        </div>
      <div style="width:relative;height:800px; background-color: #FFFFFF"></div>
      <div style="width:relative;height:50px; background-color: #D5DDDE"></div>
      <div style="width:relative;height:20px; background-color: #116E7F"></div>
    -->
    </div>
</div>
{% endblock%}